<h2>Chanclas</h2>

<div *ngFor="let product of products" style="display: inline-block;
height: 240px; width: 160px">
  <h3>
    <img src="https://raw.githack.com/jokerm/CarDemoAg6/master/src/img/{{product.id}}).jpg" width="120">     
    <a [title]="product.nombre + ' details'" 
       [routerLink]="['/products', product.id]">
      {{ product.nombre }}
    </a>    
  </h3>
  <p>
    {{ product.descripcion }}    
  </p>  
  <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
  </app-product-alerts>  
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->